@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* -------------------------------------- Laptops and Desktops -------------------------------------- */
@media (min-width: 1025px){
  
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.signals, .product, .fourier, .haar, footer{
  font-family: 'Poppins', sans-serif;
}

.signals .signals-content,
.product .product-content,
.fourier .fourier-content,
.haar .haar-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} /* change orientations here */

section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: -20%;
  font-family: 'Ubuntu', sans-serif;
}

.signals{
  display: flex;
  height: 110vh;
  color: #000000; /* Color of Name, and moving text in first page*/
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.signals .signals-content{
  margin-top: 10%;
}
.signals .signals-content .left{
  width: 45%;
}
.signals .signals-content .left .input[type=text] {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.signals .signals-content .right{
  width: 55%;
}
.signals .signals-content .right .img{
height: 400px;
width: 400px;
object-fit: cover;
border-radius: 6px;
}

.product{
  display: flex;
  height: 115vh;
  color: #000000; /* Color of Name, and moving text in first page*/
  min-height: 500px;
  padding: 100px 0px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.product .product-content .left{
  width: 45%;
}
.product .product-content .left .input[type=text] {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.product .product-content .right{
  width: 55%;
}
.product .product-content .right .img{
height: 400px;
width: 400px;
object-fit: cover;
border-radius: 6px;
}

.fourier{
  display: flex;
  height: 115vh;
  color: #000000; /* Color of Name, and moving text in first page*/
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.fourier .fourier-content .left{
  width: 45%;
}
.fourier .fourier-content .left .input[type=text] {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.fourier .fourier-content .right{
  width: 55%;
}
.fourier .fourier-content .right .img{
height: 400px;
width: 400px;
object-fit: cover;
border-radius: 6px;
}

.haar{
  display: flex;
  height: 115vh;
  color: #000000;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.haar .haar-content .left{
  width: 45%;
}
.haar .haar-content .left .input[type=text] {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.haar .haar-content .right{
  width: 55%;
}
.haar .haar-content .right .img{
height: 400px;
width: 400px;
object-fit: cover;
border-radius: 6px;
}
}

/* ----------------------------------------- Tabs --------------------------------------- */
@media (min-width: 650px) and (max-width: 1024px) {

.max-width{
    max-width: 1024px;
    padding: 0 80px;
    margin: auto;
}

.signals, .product, .fourier, .haar, footer{
  font-family: 'Poppins', sans-serif;
}

.signals .signals-content,
.product .product-content,
.fourier .fourier-content,
.haar .haar-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} /* change orientations here */

section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 20%;
  font-family: 'Ubuntu', sans-serif;
}

.signals{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.signals .signals-content{
  margin-top: 10%;
}
.signals .signals-content .left{
  width: 50%;
  position: relative;
  margin-left: 35%;
}
.signals .signals-content .left .input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.signals .signals-content .right{
  width: 100%;
  position: relative;
  margin-top: 20%;
  margin-left: 15%;
}

.product{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.product .product-content{
  margin-top: 10%;
}
.product .product-content .left{
  width: 50%;
  position: relative;
  margin-left: 35%;
}
.product .product-content .left .input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.product .product-content .right{
  width: 100%;
  position: relative;
  margin-top: 20%;
  margin-left: 15%;
}

.fourier{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.fourier .fourier-content{
  margin-top: 10%;
}
.fourier .fourier-content .left{
  width: 50%;
  position: relative;
  margin-left: 35%;
}
.fourier .fourier-content .left .input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.fourier .fourier-content .right{
  width: 100%;
  position: relative;
  margin-top: 10%;
  margin-left: 15%;
}

.haar{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.haar .haar-content{
  margin-top: 10%;
}
.haar .haar-content .left{
  width: 50%;
  position: relative;
  margin-left: 35%;
}
.haar .haar-content .left .input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.haar .haar-content .right{
  width: 100%;
  position: relative;
  margin-top: 10%;
  margin-left: 15%;
}
}

/* --------------------------------------------- Mobiles -------------------------------------- */

@media (max-width: 650px) {
  .max-width{
    max-width: 480px;
    padding: 0 20px;
    margin: auto;
}

.signals, .product, .fourier, .haar, footer{
  font-family: 'Poppins', sans-serif;
}

.signals .signals-content,
.product .product-content,
.fourier .fourier-content,
.haar .haar-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} /* change orientations here */

section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20%;
  font-family: 'Ubuntu', sans-serif;
}

.signals{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.signals .signals-content{
  margin-top: 10%;
}
.signals .signals-content .left{
  width: 100%;
  position: relative;
  margin-left: 25%;
}
.signals .signals-content .left .input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.signals .signals-content .right{
  width: 100%;
  position: relative;
  margin-top: 0%;
  margin-left: -15%;
}

.product{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.product .product-content{
  margin-top: 10%;
}
.product .product-content .left{
  width: 100%;
  position: relative;
  margin-left: 25%;
}
.product .product-content .left .input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.product .product-content .right{
  width: 100%;
  position: relative;
  margin-top: 10%;
  margin-left: -15%;
}

.fourier{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.fourier .fourier-content{
  margin-top: 10%;
}
.fourier .fourier-content .left{
  width: 100%;
  position: relative;
  margin-left: 25%;
}
.fourier .fourier-content .left .input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.fourier .fourier-content .right{
  width: 100%;
  position: relative;
  margin-top: 10%;
  margin-left: -15%;
}

.haar{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.haar .haar-content{
  margin-top: 10%;
}
.haar .haar-content .left{
  width: 100%;
  position: relative;
  margin-left: 25%;
}
.haar .haar-content .left .input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.haar .haar-content .right{
  width: 100%;
  position: relative;
  margin-top: 10%;
  margin-left: -15%;
}
}

/* -------------------------- Drop Down --------------------------------- */

.select1{
  position: relative;
  width: 10%;
  z-index: 999;
  padding: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

/* ------------------------------------------ Drop Down ------------------------------------------------------- */
.box {
  position: relative;
  margin-left: 20%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
/* --------------------------------------------- Text Fields ---------------------------------------------------------*/

.fill {
  position: relative;
  margin-left: 20%;
  margin-top: 20%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.fill1 {
  position: relative;
  margin-left: 20%;
  margin-top: 0%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.fill2 {
  position: relative;
  margin-left: 20%;
  margin-top: 10%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}

/* ----------------------------------------- Plot Button -----------------------------------------------------*/

.button1{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0%;
  margin-top: 20%;
}

.button2{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0%;
  margin-top: 10%;
}

.button1::after,.button1::before,.button2::after,.button2::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button1::before,.button2::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #2C9AD1;
  border-radius: 10px;
}

.button1::after,.button2::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button1:hover::before,.button2:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button1:hover::after,.button2:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button1:active::after,.button2:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* ---------------------------------------------------- Tabs -------------------------------------------- */

.tab {
  overflow: hidden;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  border-style: solid;
  border-radius: 10px;
  border-color: #98CB3B;
  color: #176696;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}